@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}

@theme {
    --color-primary: #4F46E5;
    --color-secondary: #6B7280;
    --color-background: #F9FAFB;
    --color-text: #111827;
}